
.title{
    text-transform: uppercase;
    font-size: 1.9rem;
    color: rgb(255, 142, 142);
}
.title span{
    color: #ffffff;
}
.weather{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    text-align: center;
}
.card{
    margin: 1rem .3rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
    width: 30%;
}
.card:hover{
    -webkit-box-shadow: 10px 17px 34px -4px rgba(212, 212, 212, 0.205);
-moz-box-shadow: 10px 17px 34px -4px rgba(212, 212, 212, 0.205);
box-shadow: 10px 17px 34px -4px rgba(212, 212, 212, 0.205);
}
.day{
    margin-bottom: .5rem;
    font-size: 1.0rem;
    color: black;
}
.icon{
    background-color: rgb(202, 202, 202);
    border-radius: 1.5rem;
    transition: all .3s ease-out;
}
.icon:hover{
    background-color: rgb(49, 49, 49);
}
.temp{
    color: black;
    font-size: 1.2rem;
    margin: .3rem;
    padding: .4rem;
}
.temp .max{
    margin-right: 8px;
    font-weight: bold;
}